:root {
  --blue-grey-050: #f5f5f5;
}

.App {
  height: 100vh;
}

.ant-layout {
  height: 100%;
}

.month-indicator {
  color: var(--blue-grey-700);
  text-align: center;
  font-weight: 500;

  display: grid;
  grid-template-columns: 1fr 5fr 1fr;

  button {
    cursor: pointer;
    border: 0;
    background: transparent;
  }
}

// CSS grid used for the dates
.day-of-week,
.date-grid {
  display: grid;
  grid-template-columns: repeat(7, 1fr);
  justify-items: center;
}

// Styles for the weekday/weekend header
.day-of-week {
  margin-top: 1.25em;
}

.day-of-week > * {
  font-size: 0.7em;
  color: var(--blue-grey-400);
  font-weight: 500;
  letter-spacing: 0.1em;
  font-variant: small-caps;
  text-align: center;
}

/* Dates */
.calendar {
  max-width: 600px;
  margin: 0 auto;
  color: #001529;
}

.date-grid {
  margin-top: 0.5em;

  .last {
    color: rgba(0, 0, 0, 0.45);
  }

  .today {
    background: #e6f7ff;
    color: #1890ff;
    border-top: 2px solid #1890ff;
  }
}

/* Positioning the first day */
.date-grid button:first-child {
  //grid-column: 6;
}

// Style for each day
.date-grid button {
  position: relative;
  border: 0;
  width: 4.5ch;
  height: 4.5ch;
  background-color: transparent;
  //color: var(--blue-grey-600);
  cursor: pointer;
}

.date-grid button:hover,
.date-grid button:focus {
  outline: none;
  background-color: var(--blue-grey-050);
  color: var(--blue-grey-700);
}

.date-grid button:active,
.date-grid button.is-selected {
  background-color: var(--teal-100);
  color: var(--teal-900);
}

.date-grid button.overdue.last {
  color: #fa8c16;
  background: #fff7e6;
  border-top: 2px solid #fa8c16;
  border-color: #ffd591;
}

.date-grid button.overdue {
  border-color: #b7eb8f;
  background-color: #f6ffed;
  border-top: 2px solid #52c41a;
  color: #52c41a;
  padding: 7px;
  width: 30px !important;
  height: 30px !important;
}

.site-badge-count-4 .ant-badge-count {
  background-color: #fff;
  color: #999;
  box-shadow: 0 0 0 1px #d9d9d9 inset;
}
